.custome-card-img {
  height: 200px;
  width: 100%;
  margin-bottom: 10px;
}

.custom-land-page-bg {
  background-image: linear-gradient(
      to bottom,
      rgba(245, 245, 237, 0.7),
      rgba(245, 245, 237, 0.7),
      rgba(245, 245, 237, 0.7),
      rgba(245, 245, 237, 0.7),
      rgba(46, 117, 36, 0.7)
    ),
    url('https://www.world-grain.com/ext/resources/Article-Images/2019/06-June/Corn-flour_AdobeStock_94855632_E.jpg?t=1559745821&width=1080');
  background-repeat: no-repeat;
  position: center;
  background-size: cover;
}

.custom-card {
  max-width: 400px;
  margin: 10px auto;
}

.card:hover {
  /* border-radius: 20px; */
  border-color: green;
  border-width: 5px;
}

.custom-btn:hover {
  border: solid 2px white;
}
