* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.detail {
  display: flex;
  margin: 20px;
}

.title {
  font-family: monospace;
}

.content {
  font-weight: bolder;
  margin: auto 10px;
}

.action {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  justify-self: center;
  width: 100%;
  margin-left: 20px;
}

a:hover {
  text-decoration: none;
}

.description {
  margin: 20px;
}
